[submodule "3rd-party/stdexec-src"]
	path = 3rd-party/stdexec-src
	url = https://github.com/NVIDIA/stdexec.git
[submodule "3rd-party/optick-src"]
	path = 3rd-party/optick-src
	url = https://github.com/bombomby/optick.git
[submodule "3rd-party/tbb-src"]
	path = 3rd-party/tbb-src
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "3rd-party/libuv-cmake-src"]
	path = 3rd-party/libuv-cmake-src
	url = https://github.com/xenoscopic/libuv-cmake.git
